@font-face {
  font-family: Lovelo;
  src: url("../font/Lovelo_Black_1_.ttf");
}
@font-face {
  font-family: Baron;
  src: url("../font/BaronN.otf");
}
@font-face {
  font-family: pba;
  src: url("../font/pba.ttf");
}

/*CHANGEMENT DE COULEUR ICON*/
.icon{
  color: white !important;
  transition: 0.2s;
}
.pba article:hover .icon{
  color: #D8383E !important;
}
.carousel-caption:hover i{
  color: #D8383E !important;
}
body {
    font-family: Lovelo;
}

img {
    width: 100%;
}

.pba {
    background: url(../img/carousel1.jpg);
    background-size: cover;
    background-position: center;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.pba figure {
    width: 70%;
    margin: auto;
}

.pba article {
    width: 70%;
    margin: auto;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-top: 6px solid white;
    border-bottom: 6px solid white;
}

.pba .collections {
    border-bottom: none;
}

.collections h2, .collections p, .visiter h2, .visiter p {
    color: white;
    font-weight: 600;
    text-shadow: 1px 1px 1px black;
}

.visiter p, .collections p {
    font-size: 12px;
}

.fa {
    font-size: 30px;
    color: white;
    transition: 0.5s;
}

.fa-user-o {
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    transition: 0.5s;
}

.fa-table:hover {
    color: #D8383E;
}

.fa:hover {
    color: #D8383E;
}

.texteintermediaire {
    height: 70px;
    justify-content: space-between;
}

.petittexte {
    background-color: #1D1D1E;
    color: white;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.petittexte h3 {
    margin: 0px;
    font-size: 20px;
}

.petittexte p {
    margin: 0px;
    font-size: 14px;
}

.carousel-caption {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top: 8px solid white;
    border-bottom: 8px solid white;
    text-shadow: 5px 5px 10px black;
    font-weight: bolder;
}

#carouselExampleControls .carousel-item {
    height: 400px;
}

.carousel-caption {
    height: 300px;
    padding: 0px;
    text-shadow: 1px 1px 10px black;
    font-weight: bolder;
}

.container-fluid .row figure {
    min-height: 320px;
    width: 100%;
}

.container-fluid .row .col1 {
    background: url(../img/col1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.col2 {
    background: url(../img/col2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.col3 {
    background: url(../img/col3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.col4 {
    background: url(../img/col4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.col5 {
    background: url(../img/col5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    width: 100%;
    height: 100%;
}

.container-fluid .row figure:hover .overlay {
    background-color: rgba(216, 56, 63, 0.5);
}

.pub {
    background-color: #1D1D1E;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    height: 350px;
}

.pub a {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: white;
    height: 39px;
    width: 75%;
    border: 5px solid white;
    padding: 15% 0%;
}

.pub a .icon {
  margin-right: 3%;
}

.pub p {
    color: white;
}

.pub a:hover {
  border: 5px solid #D8383E;
}

.pub a:hover p {
  color: #D8383E;
}

.pub p:hover {
  color: #D8383E;
}

.pub a:hover .icon {
    color: #D8383E;
    text-decoration: none;
}

.pub a p {
    margin-bottom: 0px;
}

.instapub {
  display: flex;
  margin-top: 4%;
width: 40%;
justify-content: center;
}

.instapub .icon {
  font-size: 55px;
  margin-right: 3%;
}

.instapub p {
  margin: 0px;
  display: flex;
align-items: center;
}

.container-fluid .row .art1 {
    background: url(../img/bosch26.jpg) center;
    background-size: cover;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fluid .row .art2 {
    background: url(../img/donatello.jpg) center;
    background-size: cover;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fluid .row .art3 {
    background: url(../img/goya.jpg) center;
    background-size: cover;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fluid .row .art4 {
    background: url(../img/madone.jpg) center;
    background-size: cover;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accroche {
    background-color: white;
    width: 70%;
    height: 162px;
}

.accroche a {
    color: black;
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 163px;
    justify-content: center;
}

.accroche a:hover {
    color: #D8383E;
    transition: 0.5s;
}

.container-fluid .row figure {
    padding: 0px;
    margin: 0px;
}

.applications {
    background-color: #D8383F;
    display: flex;
    flex-direction: column;
}

.applications a {
    color: white;
    width: 100%;
}


.applis {
    min-height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.applis i {
    width: 50%;
    display: flex;
    justify-content: center;
    font-size: 70px;
}

.iconappli {
    width: 35%;
    display: flex;
}

.iconappli i {
    font-size: 70px;
    margin-right: 26%;
}

.applications {
  height: 277px;
}
.applications:hover {
    background-color: white;
    transition: 0.4s;
}

.applications:hover i {
    color: #D8383F;
    transition: 0.4s;
}

.applications:hover a {
    color: #D8383F;
    transition: 0.4s;
}

.applications:hover p {
    color: #D8383F;
    transition: 0.4s;
}

.applications a:hover {
    text-decoration: none;
    transition: 0.4s;
}

.applications .download {
    text-align: center;
}

.applications .download a {
    border: 3px solid white;
    padding: 16px 30px;
    font-size: 11px;
}

.applications:hover #here {
    border: 3px solid #D8383F;
}

.actus {
    background-color: white;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.actus a {
    color: black;
    width: 80%;
    font-size: 11px;
    line-height: 2.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    border: 3px solid black;
    padding: 14px 8px;
}

.icon {
    margin: 0px;
    color: white;
}

a:hover {
    text-decoration: none;
}

.actus a .icon {
    font-weight: 400;
    margin-right: 5%;
}

.actus a .icon {
    color: black;
}

.actus a:hover {
    text-decoration: none;
    color: #D8383F;
    border: 3px solid #D8383F;
}

.actus a:hover .icon {
    text-decoration: none;
    color: #D8383F;
}


@media (min-width: 768px) {
    .applications {
        min-height: 440px;
        justify-content: space-around;
    }
    .infos {
        font-size: 20px;
    }
    .infos .icon {
        font-size: 30px;
    }
    .iconappli i {
        font-size: 100px;
    }
    .applis p {
        font-size: 30px;
        margin-top: 40px;
    }
    .applissocial a .icon {
        font-size: 50px;
    }
    .download a {
        font-size: 36px;
    }
    #noneatmedium {
        display: none;
    }
    .applications .download a {
        font-size: 20px;
    }
}

@media (min-width: 995px) {
    /*NAVBAR OFFICIEL*/
    .navbar {
        height: 90px;
        display: flex;
        justify-content: space-around;
        padding: 0px;
    }
    .navbar-brand {
        width: 16%;
        margin: 0px;
        margin-left: 4%;
    }
    .navbar i {
        margin: 0px;
    }
    .navbar #iconsearch {
        width: 19%;
        border: 3px solid white;
    }
    .navbar #iconsearch:hover {
        border: 3px solid #D8383F;
    }
    #navbarTogglerDemo02 {
        height: 68px;
        align-items: baseline;
        width: 80%;
        margin-left: 4%;
    }
    #navbarDropdownMenuLink {
        color: white;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 16px;
    }
    #navbarDropdownMenuLink:hover {
        color: #D8383F;
    }
    .fa-caret-down {
        color: white;
    }
    .form-inline {
        height: 64px;
    }
    .navbar-toggleable-md .navbar-nav {
        display: flex;
        justify-content: space-between;
        width: 86%;
        height: auto;
    }
    .navbar-nav .nav-item {
        border: none;
        background-color: #1D1D1E;
        color: white;
        display: flex;
        align-items: center;
    }
    #logolille {
        width: 7%;
        border: none;
        background-color: none;
    }
    .navbar-light .navbar-nav .active>.nav-link {
        color: white;
        font-size: 19px;
    }
    .navbar-light .navbar-nav .active>.nav-link:hover {
        color: #D8383F;
        transition: 0.4s;
    }
    .navbar ul li {
        background-color: none;
    }
    .selectlangues {
        color: white;
    }
    /*END OF NAVBAR OFFICIEL*/
    #noneatmedium {
        display: block;
    }
    .applications {
        min-height: 170px;
        align-items: center;
    }
    .applis {
        height: 100px;
    }
    .actus {
        min-height: 135px;
    }
    .pba figure {
        display: none;
    }
    .pba {
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-around;
    }
    .pba article {
        border-bottom: 10px solid white;
        border-top: 10px solid white;
        height: 300px;
    }
    .pba .collections {
        border-bottom: 10px solid white;
    }
    .pba .chevrondown {
        width: 100%;
        height: 39px;
        display: flex;
        justify-content: center;
        align-items: end;
        font-size: 7px;
    }
    .pba .chevrondown:hover {
        color: red;
    }
    .pba article {
        width: 35%;
    }
    .container-fluid .row figure {
        min-height: 320px;
        width: 100%;
    }
    .container-fluid .row .col1 {
        background: url(../img/col1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .col2 {
        background: url(../img/col2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .col3 {
        background: url(../img/col3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .col4 {
        background: url(../img/col4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .col5 {
        background: url(../img/col5.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .overlay {
        width: 100%;
        height: 100%;
    }
    .container-fluid .row figure:hover .overlay {
        background-color: rgba(216, 56, 63, 0.5);
    }
    .texteintermediaire {
        height: 170px;
    }
    .petittexte {
        height: 170px;
        justify-content: center;
    }
    .petittexte .fa-caret-down {
        color: white;
    }

    .applications .appmob {
      display: none;
    }

    .applications div {
      width: 50%;
    }

    .applications {
      display: flex;
      flex-direction: row;
    }

    .appdesk {
      display: flex;
    justify-content: flex-end;
    }

    .actus {
      flex-direction: row;
    }

    .actus a {
      border: none;
      font-size: 22px;
    }

    .actus a:hover {
      border: none;
    }

    .appdesk .icon {
      font-size: 80px;
      margin-right: 4%;
    }

    .textdesk {
      display: flex;
      justify-content: center;
      color: white;
      align-items: flex-start;
      flex-direction: column;
    }

    .textdesk #spann {
      font-weight: bolder;
      font-size: 29px;
    }

    .textdesk .applications:hover span {
      color: #D8383F;
    }
}
/*# sourceMappingURL=adapt.css.map */
