html ,body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@font-face {
  font-family: "lovelo";
  src: url(../font/Lovelo_Black_1_.ttf);
}

@font-face {
  font-family: "pba";
  src: url(../font/pba.ttf);
}


/*font-family: 'Reem Kufi', sans-serif;*/


/*Rémi @@@@@@@@@@@@--@@@@@@@@@@--@@@@@@@@--@@@@@@--@@@@--@@@-@@-@-*/



/*Home @@@@@@@@@@-@@@@@@@@@-@@@-@*/

main{

}





/*Visiter @@@@@@@@@@-@@@@@@@@@-@@@-@*/

footer{
  background-color: black;
}


/*Leila @@@@@@@@@@@@--@@@@@@@@@@--@@@@@@@@--@@@@@@--@@@@--@@@-@@-@-*/
/*Agenda @@@@@@@@@@-@@@@@@@@@-@@@-@*/


/* $$$$$$$$$$$$$$$$$ HEADER $$$$$$$$$$$$$$$$$$*/
.entete {
  background-color: rgb(0,0,0);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  width: 100%;
  position: fixed;
  z-index: 10;
}

.no-mobile {
  display:none;
}

.no-mobile input {
  position: absolute;
}

.entete .loupe {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
  font-size: 20px;
  color: white;
}

.entete .loupe:hover {
  color: rgb(216,56,63);
}

.nav-mobile-right {
  display:flex;
  justify-content: flex-end;
  align-content: center;
  align-self: center;
  width: 40%;
  margin-right: 10px;
}

.entete a {
  text-decoration: none;
  color: white;
}

.info i, .entete a {
  color: white;
}

.logo-lille {
  align-self: center;
  height:85%;
  width: 10%;
  margin-left: 20px;
  background-image: url("../img/logo-lille.svg");
  background-size:contain;
  background-repeat: no-repeat;
}

.logo-lille img {
  width: 100%;
  height: 100%;
}

.icone:hover {
  color: rgb(216,56,63);
}



/* $$$$$$$$$$$$$$$$$ AGENDA $$$$$$$$$$$$$$$$$$*/

/*+++++++++++++ 1er Section +++++++++++++++++++*/
.first h2 {
  font-family: "lovelo";
  font-weight: bold;
  font-size: 24px;
}

.first img {
  width: 75px;
  margin-top: 100px;
}

.first .actu {
  font-family: "lovelo";
  border: 5px solid black;
  width: 300px;
  margin-left: 50%;
  left: -150px;
  position: relative;

}

/*++++++++++++++++++++ Articles Agenda ++++++++++++*/

#article .section {
  padding: 0;
  height: 300px;
  width: 100%;
  background-image: url("../img/man.jpg") !important;
  background-size: cover;
  background-position: center;
  z-index: 8 !important;
}

#article .photo {
  background-image: url("../img/man.jpg") !important;
}

#article .photo1 {
  background-image: url("../img/nue.jpg") !important;
}

#article .photo2 {
  background-image: url("../img/fille.jpg") !important;
}

#article .photo3 {
  background-image: url("../img/crabe.jpg") !important;
}

#article .photo4 {
  background-image: url("../img/alex.jpg") !important;
}

#article .photo5 {
  background-image: url("../img/regard.jpg") !important;
}

#article .photo6 {
  background-image: url("../img/visite.jpg") !important;
}

#article .photo7 {
  background-image: url("../img/man.jpg") !important;
}

#article .photo img {
  z-index: -1 !important;
}

.article h2 {
  font-family: "lovelo";
  font-size: 15px;
  font-weight: bold;
}

.article span {
  color: #D3336C;
  font-weight: 500;
}

.article h3 {
  font-size: 17px;
}

.article h4 {
  font-weight: bold;
  font-size: 13px;
  word-spacing: 0;
}


/*!!!!!!!!!!!!!!!!! TABLET !!!!!!!!!!!!!!!!!!!!!*/
@media (min-width: 640px) {

  /*$$$$$$$$$$$$$ Articles Agenda $$$$$$$$$$$$$$$*/
  .article h2 {
    font-size: 33px;
  }

  .article h3 {
    font-size: 30px;
  }

  .article h4 {
    font-size: 26px;
  }

  .article p {
    font-family: arial;
  }

  .article span {
    font-weight: normal;
  }
}




/*!!!!!!!!!!!!!!!!! DESKTOP !!!!!!!!!!!!!!!!!!!!!*/
@media (min-width: 1200px) {

  /*$$$$$$$$$$$ HEADER $$$$$$$$$$$$$$$$$$$*/
  .nav-mobile-right {
    display:none;
  }

  .no-mobile {
    display: block;
  }

  .entete {
    background-color: rgb(0,0,0) ;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    position: fixed;
    z-index: 900;
  }

  .titre1 {
    width: 30%;
    height: 100%;
    margin-left: 10px;
  }

  .titre1 img {
    width: 100%;
    margin-top: 20px;
  }

  .menu  {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 20px;
    margin-right: 0px;
  }

  .menu li {
    margin-left: 20px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 20px;
  }

  .menu li a {
    text-decoration: none;
  }

  .menu li a:hover {
    color: rgb(216,56,63);
  }

  .form {
    width: 190px;
    height: 30px;
    margin-left: 10px;
  }

  .search {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .search .icon {
    color:white;
    top: 0px;
    right: 0px;
    position: absolute;
  }

  .form input[type=search] {
    background-color: black;
    border:4px solid white;
    width: 100%;
    height: 100%;
    color: white;
  }

  .search:hover input[type=search] {
    border-color: rgb(216,56,63);
  }

  .search:hover .search .icon, .langueselect ul li a:hover {
    color: rgb(216,56,63);
  }

  .langueselect {
    margin-top: 20px;
    height: 50px;
    margin-left: 20px;
    position: relative;
  }

  .langueselect  ul {
    list-style-type: none;
  }

  .langueselect ul li a {
    font-size: 20px;
    color: white;
    text-decoration: none;
  }

  .langueselect ul li .fa, .langueselect ul li a {
    color: white;
  }

  .langueselect ul li .fa {
    font-size: 15px;
    position: absolute;
    left: 10px;
    bottom: 20px;
  }

  .logo-palais {
    margin-right: 20px;
    background-position: right;
  }

  .drop {
    width: 13%;
  }

  /*$$$$$$$$$$$$$$$$$$$$$ AGENDA $$$$$$$$$$$$$$$$$$$$*/


  /*!!!!!!!!!!!!!!! 1ere Section !!!!!!!!!!!!!!!!!!*/
  .first .actu {
    position: absolute;
    right: 120px !important;
    margin: 0;
    top: 220px;
    left: initial;
  }

  /*!!!!!!!!!!!!!!! Articles Agenda !!!!!!!!!!!!!!!!!!*/

  #article .section{
    margin-left: 88px;
    width: 150px;
    height: 260px;
  }

  .angle {
    width: 37px;
    height: 37px;
    border-top: solid 16px;
    border-right: solid 16px;
    position: absolute;
    top: 0;
    right: 0;
    border-color: #D3336C ;
    margin-right: 70px;
  }

  .border {
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid;
    position: absolute;
    top: 0;
    right: 0;
    border-color: #d3336c;
  }

  .article h4 {
    font-size: 15px;
  }

  .article h2 {
    padding-top: 35px;
  }

  #important {
    margin-top: 0 !important;
  }

}



/*Batiste @@@@@@@@@@@@--@@@@@@@@@@--@@@@@@@@--@@@@@@--@@@@--@@@-@@-@-*/
#noir{
  background-color: black;
}

/*
#hautfooter>.pratique>p{
  font-size: 0.8em;
  text-align: center;
}
#hautfooter>.pratique{
  text-align: left;
}
/*
  /******Section Typevisite******/

  .typeVisite1,.typeVisite2,.typeVisite3,.typeVisite4,.typeVisite5{
    display: inline-block;
    background-color: black;
    width: 20%;
    margin:10 0;
    height: 500px;
  }

  .mobile>a{
    font-size: 3em;
    color: black;
  }

  .mobile>a:hover{
    color:red;
    text-decoration: none;
  }

  #choixVisite{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #choixVisite article{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #choixVisite article a{
    background-color: white;
    padding:20px 15px;
    font-size: 1.2em;
  }

  #choixVisite article a b{
    font-size:1.5em;
  }

  .typeVisite1{
    background-image: url(../img/imgVisite/mobile/visiteIndividuel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .typeVisite2{
    background-image: url(../img/imgVisite/mobile/visiteGroupe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .typeVisite3{
    background-image: url(../img/imgVisite/mobile/visiteFamille.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .typeVisite4{
    background-image: url(../img/imgVisite/mobile/visiteEtudiant.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .typeVisite5{
    background-image: url(../img/imgVisite/mobile/visiteEnseignant.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .choixVisite>figure>img{
    width: 100%;
    height: 100%;
  }

  .typeVisite1 a, .typeVisite2 a, .typeVisite3 a, .typeVisite4 a, .typeVisite5 a{
    color:black;
    font-style: Reem Kufi;
  }

  .typeVisite1:hover a, .typeVisite2:hover a, .typeVisite3:hover a, .typeVisite4:hover a, .typeVisite5:hover a{
    color:red;
    text-decoration: none;
  }
  .choixVisite>figure>figcaption{

  }

  /******Section Transition*****/

  .transition{
    position: relative;
    width: 90%;
    margin: auto;
  }

  .transitionMobile{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .transitionOrdi>.flechtext{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-size: 2em;
  }

  .transition>p{
    font-size: 2em;
    color: white;
  }

  .transition>p, #flecheZigzag{
    position: relative;
    display: inline-block;
  }

  #flecheZigzag{
    width: 50px;
    height: 50px;
    margin-top: 20px;
  }

  #flechebas{
    display: block;
    width: 20px;
    margin: auto;
  }

  /*********Section Exposition**********/

  #expo{
    position: relative;
  }

  #expo>article>a{
    font-weight: bold;
    background-color: white;
    padding: 10px;
    margin-top: 75px;
    font-size: 1.5em;
    color: black;
  }

  #expo>.grandbleu:hover a, #expo>.love:hover a, #expo>.table:hover a, #expo>.ange:hover a, #expo>.bete:hover a, #expo>.lettre:hover a, #expo>.brune:hover a, #expo>.mini:hover a{
    color:red;
    text-decoration: none;
  }

  #expo>.grandbleu, #expo>.love, #expo>.table, #expo>.ange, #expo>.bete, #expo>.lettre, #expo>.brune, #expo>.mini{
    background-size: cover;
    height: 500px;
    padding: 0;
    margin: 0;
  }

  #expo>.grandbleu{
    background-image: url(../img/imgVisite/ordinateur/legrandbleu.jpg);
  }

  #expo>.love{
    background-image: url(../img/imgVisite/mobile/love.png);
  }

  #expo>.table{
    background-image: url(../img/imgVisite/mobile/table.png);
  }

  #expo>.ange{
    background-image: url(../img/imgVisite/mobile/angedemon.png);
  }

  #expo>.bete{
    background-image: url(../img/imgVisite/mobile/bete.png);
  }

  #expo>.lettre{
    background-image: url(../img/imgVisite/mobile/chiffrelettre.png);
  }

  #expo>.brune{
    background-image: url(../img/imgVisite/mobile/blondebrune.png);
  }

  #expo>.mini{
    background-image: url(../img/imgVisite/mobile/minimaxi.png);
  }

  /*******Section Incontournable*******/

  .incontournableblancheur{
    background-color: white;
  }

  #incontournable>h4{
    margin-top: 50px;
    text-align: center;
  }

  #incontournable>.row{
    margin-bottom: 0;
  }

  #incontournable>article>a{
    color: black;
    background-color: white;
    text-decoration: none;
    padding: 30px;
    height: 150px;
    margin: 150px 0 0 100px;
  }

  #incontournable>.incontournable30mn:hover a,#incontournable>.incontournable60mn:hover a,#incontournable>.incontournable90mn:hover a{
    color:red;
  }

  #incontournable>article{
    height: 400px;
    background-size: cover;
  }

  #incontournable>article>a>strong{
    font-size: 1.5em;
  }

  #incontournable>.incontournable30mn{
    background-image: url(../img/imgVisite/mobile/incontournable1.png);
  }

  #incontournable>.incontournable60mn{
    background-image: url(../img/imgVisite/mobile/incontournable2.png);
  }

  #incontournable>.incontournable90mn{
    background-image: url(../img/imgVisite/mobile/incontournable3.png);
  }

  /******Section Téléchargement App*******/

  .teleapp{
    background-color: red;
  }

  .teleapp:hover{
    background-color: white;
    color:white;
    transition: all 0.3s;

  }

  .teleapp>.row>.titreteleapp{
    text-align: center;
  }
  .teleapp:hover>.row>.titreteleapp{
    color:red !important;
  }

  .teleapp>.row>small{
    text-align: center;
    color:white;
    margin-right: 10px;
  }

  .teleapp:hover small{
    color:red;
  }

  .teleapp>.row>.tablettmobile{
    background-image: url(../img/imgVisite/mobile/logoteleappblanc.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
  }

  .teleapp:hover .tablettmobile{
    background-image: url(../img/imgVisite/mobile/logoteleapprouge.png);
  }

  /*******FOOTER******/

  footer>.row>article>ul>li,
  footer>.row>article>h4,
  footer>.row>article>p,
  #basfooter>small,
  footer>.row>article a, #basfooter ul li a{
    color:white;
  }

  #hautfooter>.pratique>p{
    font-size: 0.5em;
  }

  #hautfooter>.pratique>ul>li{
    text-align: center;
    list-style-type: none;
  }
  #hautfooter .icone>li{
    list-style-type: none;
  }

  #hautfooter .icone>li>img{
    height: 30px;
    width: 30px;
  }

  #hautfooter .icone>li>img:hover{

  }

  footer>.row>article>img{
    height: 50px;
    width: 50px;
  }

  #basfooter>small, #basfooter>img{
    padding: 0;
  }

