html ,body {
  width: 100%;
}

/*font-family: 'Reem Kufi', sans-serif;*/


/*Rémi @@@@@@@@@@@@--@@@@@@@@@@--@@@@@@@@--@@@@@@--@@@@--@@@-@@-@-*/
/*Home @@@@@@@@@@-@@@@@@@@@-@@@-@*/
header{

}
main{

}

/*Batiste @@@@@@@@@@@@--@@@@@@@@@@--@@@@@@@@--@@@@@@--@@@@--@@@-@@-@-*/
/*Visiter @@@@@@@@@@-@@@@@@@@@-@@@-@*/
.choixVisite>figure{
  width: 20%;
  margin:10 0;
}

footer{

}

/*Leila @@@@@@@@@@@@--@@@@@@@@@@--@@@@@@@@--@@@@@@--@@@@--@@@-@@-@-*/
/*Agenda @@@@@@@@@@-@@@@@@@@@-@@@-@*/
