$red:#D8383F;

@font-face {
  font-family: Lovelo;
  src: url("../font/Lovelo_Black_1_.ttf");
}
@font-face {
  font-family: Baron;
  src: url("../font/BaronN.otf");
}
@font-face {
  font-family: pba;
  src: url("../font/pba.ttf");
}


#home{
  background-image: url("../img/desktop/home.jpg");
  background-size: auto 200% ;
  background-position: center;
  padding-top: 30px;
  padding-bottom: 180px;
  font-family: Lovelo;
  .arrowdown{
    display: flex;
    justify-content: center;
    color: white;
    position: relative;
    i{
      position: absolute;
      top: 100px;
      font-weight: bold;
      transition: 0.2s;
      &:hover{
        color: $red;
      }
    }
  }
  h2{
    padding-top: 30px;
    font-family: pba;
    color: white;
    text-align: center;
    font-size: 46px;
    letter-spacing: 5px;
  }
  .colvis{
    padding-top: 50px;
    a{
      text-decoration: none;
      &:hover i{
        color: $red;
      }
      svg{
        position: absolute;
        margin-left: 50%;
        left: -260px;
        path{
          stroke:white;
          stroke-width:15px;
          fill:transparent;
          opacity: 1;
        }
      }
      .collections, .visiter{
        position: relative;
      }
      h3{
        color: white;
        text-align: center;
        line-height: 0.8em;
        font-size: 3em;
        padding-top: 80px;
        padding-bottom: 50px;
        i{
          line-height: 2em;
          transition: 0.2s;
        }
        span{
          font-size: 0.6em;
          font-family: Baron;
        }
      }
    }
  }
}

@media (max-width: 576px){
  #home{
    background-position: center -320px;
    background-size: auto 170%;
    font-size: 0.5em;
    h2{
      font-size: 3.5em;
      letter-spacing: 1px;
    }
    .colvis{


        h3{
          padding-top: 40px;
          padding-bottom: 0px;
        }
        svg{
          margin-left: 50%;
          left: -130px ;
          path{
            stroke-width:10px;
          }
        }

    }
  }
}


@media (max-width: 1200px){
  #home{
    background-position: center -320px;
    background-size: auto 130%;
    font-size: 0.5em;
    .colvis{
      padding-top: 20px;
      .visiter{
        top:25px;
      }
      .collections{
        top: 0;
      }
    }
  }
}
