html ,body {
  width: 100%;
}

/*font-family: 'Reem Kufi', sans-serif;*/


/*Rémi @@@@@@@@@@@@--@@@@@@@@@@--@@@@@@@@--@@@@@@--@@@@--@@@-@@-@-*/
/*Home @@@@@@@@@@-@@@@@@@@@-@@@-@*/
main{

}

/*Batiste @@@@@@@@@@@@--@@@@@@@@@@--@@@@@@@@--@@@@@@--@@@@--@@@-@@-@-*/
/*Visiter @@@@@@@@@@-@@@@@@@@@-@@@-@*/
footer{
  background-color: black;
}

/*Leila @@@@@@@@@@@@--@@@@@@@@@@--@@@@@@@@--@@@@@@--@@@@--@@@-@@-@-*/
/*Agenda @@@@@@@@@@-@@@@@@@@@-@@@-@*/

/* $$$$$$$$$$$$$$$$$ HEADER $$$$$$$$$$$$$$$$$$*/
header{
  background-color: black;
}

header .logo {
  width: 50px;
  height: 40px;
  display: inline-block;
}

header .navbar-brand {
  display: inline-block;
}

/* $$$$$$$$$$$$$$$$$ AGENDA $$$$$$$$$$$$$$$$$$*/





/*!!!!!!!!!!!!!!!!! DESKTOP !!!!!!!!!!!!!!!!!!!!!*/
@media (min-width: 1280px) {

}
