html ,body {
  width: 100%;
}

/*font-family: 'Reem Kufi', sans-serif;*/


/*Rémi @@@@@@@@@@@@--@@@@@@@@@@--@@@@@@@@--@@@@@@--@@@@--@@@-@@-@-*/
/*Home @@@@@@@@@@-@@@@@@@@@-@@@-@*/

header{

}
main{

}

/*Batiste @@@@@@@@@@@@--@@@@@@@@@@--@@@@@@@@--@@@@@@--@@@@--@@@-@@-@-*/
#noir{
  background-color: black;
}

.typeVisite1,.typeVisite2,.typeVisite3,.typeVisite4,.typeVisite5{
  display: inline-block;
  background-color: black;
  width: 20%;
  margin:10 0;
  height: 500px;
}

.mobile>a{
  font-size: 3em;
  color: black;
}

.mobile>a:hover{
  color:red;
  text-decoration: none;
}

#choixVisite{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#choixVisite article{
  display: flex;
  justify-content: center;
  align-items: center;
}

#choixVisite article a{
  background-color: white;
  padding:20px 15px;
  font-size: 1.2em;
}

#choixVisite article a b{
  font-size:1.5em;
}

.typeVisite1{
  background-image: url(../img/imgVisite/mobile/visiteIndividuel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.typeVisite2{
  background-image: url(../img/imgVisite/mobile/visiteGroupe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.typeVisite3{
  background-image: url(../img/imgVisite/mobile/visiteFamille.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.typeVisite4{
  background-image: url(../img/imgVisite/mobile/visiteEtudiant.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.typeVisite5{
  background-image: url(../img/imgVisite/mobile/visiteEnseignant.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.choixVisite>figure>img{
  width: 100%;
  height: 100%;
}

.typeVisite1 a, .typeVisite2 a, .typeVisite3 a, .typeVisite4 a, .typeVisite5 a{
  color:black;
  font-style: Reem Kufi;
}

.typeVisite1 a:hover, .typeVisite2 a:hover, .typeVisite3 a:hover, .typeVisite4 a:hover, .typeVisite5 a:hover{
  color:red;
  text-decoration: none;
}

.choixVisite>figure>figcaption{

}

.transition{
  position: relative;
  width: 90%;
  margin: auto;
}

.transitionMobile{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transitionOrdi>.flechtext{
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  font-size: 2em;
}

.transition>p{
  font-size: 2em;
  color: white;
}

.transition>p, #flecheZigzag{
  position: relative;
  display: inline-block;
}

#flecheZigzag{
  width: 50px;
}

#flechebas{
  display: block;
  width: 20px;
}

footer{

}

/*Visiter @@@@@@@@@@-@@@@@@@@@-@@@-@*/


/*Leila @@@@@@@@@@@@--@@@@@@@@@@--@@@@@@@@--@@@@@@--@@@@--@@@-@@-@-*/
/*Agenda @@@@@@@@@@-@@@@@@@@@-@@@-@*/
